.faq-question-partial {
  border: 1px solid var(--border-color);
  border-radius: 24px;
  padding: 23px 32px;
  background-color: var(--background-color);
  transition: all 0.2s ease;

  &:not(:first-of-type) {
    margin-top: 8px;
  }

  --icon-size: 13px;
  --icon-thickness: 1px;

  & &__icon {
    position: relative;
    margin-left: 16px;
    width: var(--icon-size);
    height: var(--icon-size);
    flex-shrink: 0;

    &:before,
    &:after {
      content: '';
      position: absolute;
      background-color: var(--primary-color);
      transition: 0.2s;
    }

    &:before {
      width: var(--icon-thickness);
      margin-left: calc(((var(--icon-size) - var(--icon-thickness)) / 2));
      height: 100%;
    }

    &:after {
      height: var(--icon-thickness);
      margin-top: calc(((var(--icon-size) - var(--icon-thickness)) / 2));
      left: 0;
      width: 100%;
    }
  }

  &[data-question-expanded] {
    background-color: var(--background-color-primary-hover);
    border-color: var(--primary-color);

    .faq-question-partial__answer {
      display: block;
    }

    .faq-question-partial__icon {
      &:before {
        transform: rotate(90deg);
      }

      &:after {
        transform: rotate(180deg);
      }
    }

    .faq-question-partial__answer {
      margin-top: 24px;
      max-height: var(--faq-answer-height);
      overflow: visible;
      opacity: 1;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: var(--background-color-primary-hover);
    border-color: var(--primary-color);
  }

  & &__first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & &__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    letter-spacing: -0.02em;
  }

  & &__answer {
    transition: 0.2s;
    margin-top: 0;
    height: 100%;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
  }

  & &__link {
    font-weight: 600;
  }

  & &__paragraph {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.01em;
    margin: 0;

    &:not(:first-of-type) {
      margin-top: 12px;
    }
  }

  @media (max-width: 600px) {
    padding: 23px 24px;

    & &__title {
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: -0.02em;
    }
    & &__paragraph {
      font-family: Space Grotesk;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: -0.01em;
      text-align: left;
    }
  }
}
